@font-face {
  font-family: Parastoo;
  src: url('./fonts/Parastoo.eot');
  src: url('./fonts/Parastoo.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Parastoo.woff') format('woff'),
       url('./fonts/Parastoo.ttf') format('truetype');
  font-weight: bold;
}

.App {
  font-family: Parastoo
}